/*
 * This is the CSS stylesheet for the demo people application
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body, .ui-btn {
    font-family: Roboto;
}

body {
    margin: 50px;
}

div.jumbotron {
    background-color: transparent !important;
    margin-left: 30px;
    margin-right: 30px;
}

.jumbotron>hr {
    border-top-color: #76B900 !important;
}

.menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, caption, th, td {
    border: 1px solid lightgrey;
}

table caption {
    text-align: center;
    height: 33px;
    font-weight: bold;
    padding-top: 5px;
    border-bottom: none;
}

tr {
    height: 33px;
}

tr:nth-child(even) {
    background-color: #f0f0f0
}

td {
    text-align: center;
}

.error {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fbb;
    visibility: hidden;
}

button {
    padding: 5px;
    margin-right: 195px !important;
    border-radius: 3px;
    color: white !important;
    background-color: #76B900;
    border-color: #76B900;
    float: right;
}

#menulist {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    padding-top: 20px;
    padding-top: 20px;
    border: 1px solid grey;
}