/*
 * This is the CSS stylesheet for the demo people application
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


body {
    margin: 50px;
    font-family: Roboto;
}


input {
    padding: 5px;
    margin-right: 10px !important;
    border-radius: 3px;
    color: white !important;
    background-color: #76B900;
    border-color: #76B900;
}

form {
    margin-left: 195px;
    margin-right: 800px;
    margin-bottom: 70px;
}
