<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Studenten Login</title>
      <link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/tGoz7sI1eAtgg55xxR5S8eZ4bH2zxIaSKG9OnUv34JzhLHmYDD35Chd5TKR0WW4o_Q=w300-rw">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="/static/css/login.css">
  </head>
<body>
    <div class="container">
        <h1>Hallo lieber Student.</h1><br />
        <h3>Bitte logge dich ein, um den Speiseplan einsehen und ein Gericht waehlen zu koennen.</h3>
        <br>

        <br />
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{request.form.password }}"><br /><br />
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error">
            <strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
</body>
</html>